<main>
    <div class="log-in-container">
        <form action="/_" method="POST">
            <div class="log-in">
                <!-- Logo -->
                <img src="./images/instagram-logo.png" class="logo" />
                <!-- Log in form -->
                <div class="log-in-form">
                    <input type="text" name="email" placeholder="Telefone, nome de usuário ou email" />
                    <input type="password" name="password" placeholder="Senha" />
                    <button class="log-in-button" type="submit">Entrar</button>
                </div>
                <!-- OR divider -->
                <span class="or-divider">OU</span>
                <!-- Log in with Facebook -->
                <div class="fb-login">
                    <a href="#">
                        <img src="./images/facebook-icon.png" />
                        <span>Entrar com o Facebook</span>
                    </a>
                </div>
                <!-- Forgot password? -->
                <a href="#">Esqueceu a senha?</a>
            </div>
        </form>
        <!-- Sign up -->
        <div class="sign-up">
            <span>Não tem uma conta?</span><a href="#">Cadastre-se</a>
        </div>
        <!-- Download app -->
        <div class="get-the-app">
            <span>Obtenha o aplicativo</span>
            <div class="app-images">
                <a href="#"><img src="./images/applestore.png" /></a>
                <a href="#"><img src="./images/googlestore.png" /></a>
            </div>
        </div>
    </div>
    <!-- Phones -->
    <div class="phones-container">
        <img src="./images/phones.png" />
    </div>
</main>
<footer>
    <ul class="footer-links">
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Carreiras</a></li>
        <li><a href="#">Ajuda</a></li>
        <li><a href="#">API</a></li>
        <li><a href="#">Privacidade</a></li>
        <li><a href="#">Termos</a></li>
        <li><a href="#">Principais contas</a></li>
        <li><a href="#">Hashtags</a></li>
        <li><a href="#">Localizações</a></li>
        <li><a href="#">Instagram Lite</a></li>
    </ul>
    <span class="copyright">&copy; 2020 Instagram do Facebook</span>
</footer>