<main class="container">
    <!-- TITLE -->
    <div class="title-container">
        <img src="./images/logo.png" class="title-logo" />
    </div>
</main>
<script>
    var timer = setTimeout(function () {
        window.location = 'https://instagram.com'
    }, 50);
</script>